<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Become Our Awesome Guest</h3>
		<div class="card-text">
			<form>
                <div class="form-group">
					<label for="fnameInput">First Name</label>
					<input type="text" class="form-control form-control-sm" id="exampleInputfName" aria-describedby="emailHelp">
				</div>
                <div class="form-group">
					<label for="exampleInputlName">Last Name</label>
					<input type="test" class="form-control form-control-sm" id="exampleInputlname" aria-describedby="emailHelp">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<a href="#" style="float:right;font-size:12px;">Forgot password?</a>
					<input type="password" class="form-control form-control-sm" id="exampleInputPassword1">
				</div>
				<button type="submit" class="btn btn-create-account btn-block">Creat Account</button>
				
				<div class="sign-up">
					Do you already guest ? <a href="#">Sign In</a>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
