<div class="base-layout">
    
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bx-book-open' (click)="goToHome()"></i>
                <!-- <div class="logo_name">DGBook</div> -->
            </div>
            <!-- <i class='bx bx-menu' id="nav_btn"></i> -->
        </div>
        <ul class="nav_list">
            <li>
                <a href="#" (click)="goToHome()">
                    <i class='bx bx-home' ></i>
                </a>
                <!-- <span class="tooltip">Home</span> -->
            </li>
            <li>
                <a *ngIf="user" [routerLink]="'/profile'">
                    <i class='bx bx-book-content' ></i>
                </a>
                <!-- <span class="tooltip">Home</span> -->
            </li>
            <li>
                <a *ngIf="user" [routerLink]="'/profile'">
                    <i class='bx bx-user-circle' ></i>
                </a>
                <!-- <span class="tooltip">Home</span> -->
            </li>
        </ul>
        <div class="profile_content" *ngIf="user">
            <div class="profile">
                <i class='bx bx-log-out' (click)="logOut()" ></i>
            </div>
        </div>
    </div>

    <div class="content radius-box">
        <router-outlet></router-outlet>
    </div>
</div>