<div class="container-op">
    <div class="row ">
        <div class="col col-lg-4 col-md-12 col-sm-12 ">
            <div class="main_img">
                <img src="../../../assets/img/town1.jpg" alt="">
            </div>
        </div>
        <div class="col col-lg-8 col-md-12 col-sm-12 main_content">
            <div class="main_desc">
                <div class="main_heading">Digital Guest Book</div>
                <div class="welcom">Welcome</div>
                <div class="msg">Please fill the Guest Book</div>

                <button class="btn btn_start" (click)="goToLogin()">Start &nbsp; <i class='bx bx-right-arrow-alt' ></i></button>
            </div>
        </div>
    </div>
</div>
