/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.radius-box {
    /* border-radius: 12px; */
    /* background: #cfcfcf; */
}

.error-msg {
    font-size: 12px;
    color: red;
}

.btn {
    border: solid 2px #255b54;
    color: #255b54;
    font-weight: 500;
    transition: all 0.4s ease;
    margin-top: 55px;
}

.btn:hover {
    border: solid 2px #1e4b45;
    background: #255b54;
    color: #fff;
}